body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#grid {
    display: grid;
    align-self: center;
    justify-self: center;
    border-top: 1px solid rgba(0, 0, 0, 0.619);
    border-right: 1px solid rgba(0, 0, 0, 0.619);
}

.grid-cell {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.619);
    border-bottom: 1px solid rgba(0, 0, 0, 0.619);
    transition: all .2s ease-in-out;
}

.robot {
    width: 40px;
}

.package {
    width: 40px;
}

#floating-box {
    top: 0;
    left: 0;
    display: inline;
}

.animate {
    animation: center-animate 0.2s ease-in-out;
}

@keyframes center-animate {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.obstacle {
    background-color: rgba(0, 0, 0, 0.619);
    border: 1px solid rgba(0, 0, 0, 0.2);
}