body {
    width: 1500px;
}

#grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-auto-flow: row;
    grid-column-gap: 0;
    grid-row-gap: 0;
    border: 1px solid rgba(0, 0, 0, 0.619);
    top: 5px;
    left: 5px;
    box-sizing: border-box;
}

.destination {
    background-color: aquamarine !important;
}

.grid-cell {
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.619); */
    transition: all .2s ease-in-out;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.robot {
    width: 40px;
    height: 40px;
    background: url("./artifacts/robot_fetching.png");
    background-size: 40px;
}

.robot-delivering {
    background: url("./artifacts/robot_delivering.png") !important;

}

.package {
    width: 40px;
    position: absolute;
}

#floating-box {
    width: 200px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

#floating-box>button {
    margin: 10px;
    background-color: rgb(135, 206, 235);
    border-radius: 5%;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#floating-box>button:hover {
    background-color: rgb(96, 148, 168);
}

.animate {
    animation: center-animate 0.2s ease-in-out;
}

@keyframes center-animate {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.obstacle {
    background-color: rgb(242 141 199 / 62%);
    border: 1px solid rgba(167, 94, 135, 0.62);
}